@charset 'utf-8';
*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	position: relative;
}

.box{
	width: 200px;
	height: 200px;
	background-color: lightgrey;
	top : 100px;
	right : 50%;
	position : absolute;
	text-align: center;

}
.button{
	background-color : blue;
	font : white;
	width : 100px;
	height : 30px;
}
