@charset 'utf-8';
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin : 0;
}
.top-box{
    height : 70px;
    background-color: green;
    position : fixed;
    top : 0;
    left : 50px;
    right : 0;

}
.bottom-box{
    height : 2000px;
    background-color: blue;
    margin-top : 70px;

}